<h2>Contactez-nous</h2>
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div class="form-field">
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      formControlName="email"
      required
      placeholder="Votre email"
      [class.invalid]="contactForm.get('email')?.invalid && contactForm.get('email')?.touched"/>
    <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched" class="error">
      Un email valide est requis.
    </div>
  </div>

  <div class="form-field">
    <label for="message">Message</label>
    <textarea
      id="message"
      rows="5"
      maxlength="300"
      formControlName="message"
      required
      placeholder="Votre message"></textarea>
    <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched" class="error">
      Un message est requis et doit contenir moins de 300 caractères.
    </div>
  </div>

  <p-button
    type="submit"
    [disabled]="contactForm.invalid"
    label="Envoyer"
    severity="success"></p-button>
</form>
